@import url("https://fonts.googleapis.com/css?family=Lobster|Roboto");
@import 'paper-styles.color';

$theme-color: $paper-teal-500;
$theme-color-panel: #ffffff;
$theme-color-panel-background: darken($theme-color-panel, 7.5%);
$theme-sidebar-item-background-color: $theme-color-panel;
$theme-sidebar-item-color: lighten($theme-color, 30%);

body {
  background: $theme-color-panel-background;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: $theme-color-panel;
}

paper-header-panel {
  
}

paper-toolbar {
  color: #ffffff;
  background-color: $theme-color;
}

paper-toolbar.side {
  color: $theme-color;
  background-image: linear-gradient(90deg, $theme-color-panel-background 70px, $theme-color-panel-background 256px, $theme-color 256px);

  padding-left: 72px;
}

paper-toolbar.main {
  background-color: $theme-color;
  background-position: 0px 0px;
  .app-name {
    
  }
}

paper-toolbar.category {
  margin: 15px 0 0 0;
  background-color: transparent;
  color: darken($theme-color-panel-background, 30%);
  font-size: 1.4em;
}

paper-toolbar.featured-category {
  background-color: darken($theme-color-panel-background, 40%);
}

paper-menu.side {
  margin: -8px 0 0 0;

  paper-item {

    background-color: #ffffff;
    background-image: linear-gradient(90deg, $theme-sidebar-item-color 70px, $theme-sidebar-item-background-color 70px, $theme-sidebar-item-background-color 97%, $theme-sidebar-item-color 97%);

    padding-left: 80px;
  }

  paper-item.iron-selected {
    background-image: linear-gradient(
      90deg, 
      darken($theme-sidebar-item-color, 7.5%) 70px, 
      $theme-sidebar-item-background-color 70px, 
      $theme-sidebar-item-background-color 97%, 
      darken($theme-sidebar-item-color, 7.5%) 97%);
  }
  
}

.storefront paper-card {
  margin: 15px 0 0 15px;
}
