body {
  background: #ececec;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #ffffff;
}

core-toolbar {
  color: #ffffff;
  background-color: #331836;
}

core-toolbar.side {
  color: #331836;
  background-image: linear-gradient(90deg, #ececec 70px, #ececec 256px, #331836 256px);

  padding-left: 72px;
}

core-toolbar.main {
  min-height: 350px;
  padding-left: 30px;

  .app-name {
    font-size: 2em;
    margin-left: 370px;
    margin-top: 150px;
  }

  paper-material.round-image {
    width: 300px;
    height: 300px;

    position: relative;
    top: 140px;
    border-radius: 150px;

    background-color: #ffffff;


    .round-image-inner {
      width: 290px;
      height: 290px;
      position: relative;
      left: 5px;
      top: 5px;
      
      border-radius: 145px;
      background-image: url('/images/Imuduino-Yardstick-4mm.png');
      background-position: 1067px 713px;
    }
  }
}

core-menu {
  margin: 0;

  core-item {

    background-color: #ffffff;
    background-image: linear-gradient(90deg, #a789aa 70px, transparent 70px, transparent 250px, #a789aa 250px);

    padding-left: 72px;
  }

  core-item.core-selected {
    background-image: linear-gradient(90deg, #c990d0 70px, transparent 70px, transparent 250px, #c990d0 250px);
  }
  
}
